@charset "utf-8";
@import "/Web-home/_UI/css/common/font.css";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  line-height: normal;
  *word-break: break-all;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
}
body {
  font-size: 0.74em;
}
header,
article,
section,
nav,
aside,
footer {
  display: block;
}
img,
fieldset,
iframe,
button {
  border: 0 none;
}
ul,
ol {
  list-style: none;
}
input,
select,
button {
  vertical-align: middle;
}
img {
  vertical-align: top;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
button {
  background-color: transparent;
}
a,
button,
input {
  /* border: 0 none;
  outline: none; */
}
a:active,
button:active {
  outline: none;
}
a {
  text-decoration: none;
}
a:link,
a:active,
a:visited {
  color: #666;
}
a:hover {
  color: #b40c0c;
}
legend {
  *width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  z-index: -1;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
}
caption {
  /* width: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  opacity: 0; */
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -5000px;
}
th {
  text-align: center;
}
input::-ms-clear {
  display: none;
}
input,
button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
pre {
  white-space: pre-line;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow-y: auto;
}
textarea {
  resize: none;
}
figure {
  text-align: center;
}
hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ccc;
  margin: 1em 0;
}
/* option */
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
.ir,
.inner-ir > a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.ui-tooltip {
  -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
  margin-top: -10px;
}
.ui-tooltip.ui-widget-content {
  border: 0;
  background-color: #000;
  background-image: none;
}
.ui-tooltip .ui-tooltip-content {
  color: #fff;
  font-size: 0.8em;
}
.PZwindow {
	border:1px solid #999;
	background-color:#fff;
    position:absolute !important;
	 /* position:fixed !important;*/
    z-index:99999;
	cursor:move;
}
.PZwindow * { 
	font-family: "NotoKR", "Noto Sans", "Malgun Gothic", "맑은고딕", "돋음" !important;
	font-size:1em; 
	/*line-height:1.5; */
	color:#666;
	/*letter-spacing:-0.07em; */
}
.PZwindow .PZwrap { 
	/*min-width:373px; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd;*/
	overflow:hidden; 
}
.PZwindow .nomoreOpen { border-right:1px solid #333; overflow:hidden; }
.PZwindow .nomoreOpen form label { font-size:14px; color:#fff; }
.PZwindow .nomoreOpen form a.PZwindowClose { margin-top:5px; }
.reptxt,.longdesc { width:0; height:0; font-size:0; line-height:0; text-indent:-9999em; overflow:hidden; }
.PZwindow .btn { padding:10px 20px; display:inline-block; font-weight:bold; color:#fff !important; text-decoration:none; background:url(/sites/moj/images/contents/button_type_02.png) left top repeat; }
.PZwindow .ul_2 { margin-top: 10px; overflow: hidden; }
.PZwindow .ul_2 li { padding-left: 8px; color: #fff; position:relative; }
.PZwindow .ul_2 li::before { content:'·'; position:absolute; top:-1px; left:0; }