@charset "UTF-8";
@import url("common.css");

#wrap{background-color: rgb(255,255,255,0.3); width: 100%; height: 100vh; background-size: cover;}
.login_box{position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; width: 51rem; padding-left: 4rem; padding-right: 4rem; border-radius: 1rem; box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.15);}
.login_top{display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 2rem 0 0rem 0;}
.login_top a, .login_top h3 {margin: 0; padding: 0;}
.login_top h3{font-size: 2rem; font-weight: 600; color: #022964; margin: 1rem 0; text-align: center;}
.logo{display: block; width: 20rem; margin: 0 auto; padding-top: 2.7rem;}
/* .logo{display: inline-block; float: left; width: 24.3rem; margin: 0 auto;} */
.login_lan{text-align: center; border-bottom: 1px solid #e2e2e2; margin: 1.2rem 0;}
.login_lan li{display: inline-block;}
.login_lan li a{display: inline-block; font-size: 1.8rem; color: #cfcdcd; line-height: 1.67; font-weight: 600; cursor: pointer;}
.login_lan li:nth-child(2) a{margin-left: 2.2rem;}
.login_lan li a.on{color: #022964; padding: 0 1.9rem; position: relative;}
.login_lan li a.on::after{display: block; content: ""; position: absolute; border-bottom: 2px solid #022964; width: 6rem; left: 50%; bottom: 0; margin-left: -3rem;}

.login_con h3{font-size: 3rem; font-weight: 600; color: #022964; margin: 1.6rem 0; text-align: center;}
/* .login_con h3::after{display: inline-block; content: ""; width: 7.2rem; height: 8.2rem; background: url(../img/img-symbol.png) no-repeat 0 0; background-size: 7.3rem; margin-left: 1rem; margin-bottom: -1rem;} */
.login_con.active{display: block;}

.login_con2 h3{font-size: 2.8rem; font-weight: 600; color: #022964; margin: 3rem 0; text-align: center;}

.id_pw_wrap{display: flex; justify-content: space-between;}
.input_box{width: calc(75% - 1rem);}
.input_box input{width: 100%;  padding: 1.3rem 1.5rem 1.4rem 1.5rem; border-radius: 0.5rem; border: solid 1px #ccc; background-color: #fff; font-size: 1.6rem; font-weight: 200;}
.input_box input:nth-child(2){margin-top: 1rem;}
.input_box input::placeholder{color: #ccc;}
.login_bt{display:block; width: 25%; background: #022964; text-align: center; color: #fff; font-size: 2rem; font-weight: 400; padding: 4.3rem 0; border-radius: 0.5rem; cursor: pointer;}

.keepid_box{font-size: 1.4rem; color: #333; margin-top: .9rem;}
.keepid_box input{vertical-align: middle; margin-right: 0.5rem;}
.keepid_box label{vertical-align: middle;}

.set_id{display: flex; justify-content: center; flex-wrap: wrap; margin: 1rem 0 1rem; }
.set_id li a{color: #333;  font-size: 1.6rem;}
.set_id li:nth-child(n+2):before{display: inline-block; content: ""; border-left: 1px solid #c2c2c2; height: 1.4rem; margin: 0 2.5rem; vertical-align: middle;}

.lock_bt{display: flex; justify-content: space-between; margin: 2rem 0 4.2rem;}
.lock_bt a{display: block; width: calc((100% - 1rem)/2); background: #e7e7e7;  padding: 1.3rem 0 1.2rem 0; text-align: center; color: #555; font-size: 1.8rem;  border-radius: 3px; transition: all .5s; font-weight: 400;}

.service{display: flex; justify-content: center; flex-wrap: wrap; padding: 1rem 0 1.1rem 0; background: #e7e7e7; border-radius: 0 0 1rem 1rem; margin-left: -4rem; margin-right: -4rem;}
.service li a{font-size: 1.4rem; color: #999;}
.service li:nth-child(1) a{background-color: #078ad3;color: white;border-radius: 3px;padding: 0 1rem;}
.service li:nth-child(1):after{display: inline-block; content: ""; border-right: 1px solid #c2c2c2; height: 1.4rem; margin: 0 2.2rem; vertical-align: middle;}

/* .notice{margin-bottom: 2rem; padding: 1rem; font-size: 1.6rem; color: #333; line-height: 1.8; background: #f3f3f3;} */
.notice{margin-bottom: 2rem; padding: 1rem; font-size: 1.6rem; color: #333; line-height: 1.8; background: #333; color: #f3f3f3; border-radius: 1rem;}
.notice .div_flex{display: flex; justify-content: space-between; align-items: center;}
.dot_list h4{font-weight: bold;}
.dot_list .info::before{display: inline-block; content: ""; background: url(../img/ico-info.png) no-repeat 0 0/3.1rem; width: 3.1rem; height: 3.1rem; margin-right: 1.2rem; margin-left: 0; vertical-align: middle;}
.dot_list .join::before{display: inline-block; content: ""; background: url(../img/ico-join.png) no-repeat 0 0/3.1rem; width: 3.1rem; height: 3.1rem; margin-right: 1.2rem; margin-left: 0; vertical-align: middle;}
.dot_list li{position: relative; padding-left: 4.5rem;}
.dot_list li::before{display: inline-block; content: ""; background: url(../img/ico-dot.png) no-repeat 0 0/1.1rem; width: 1.1rem; height: 1.1rem; margin-right: 1.2rem; margin-left: -2.3rem;}

.pdf_guide{text-decoration: underline;margin-right: 1rem;cursor: pointer;transition: all 0.3s;border-radius: 4px;padding: 4px 12px;}
.pdf_guide:hover{background-color: #dcdcdc;color: #333333;border-color: #dcdcdc;}

@media screen and (max-width: 768px){
    #wrap{background: none;}
	.login_box{width: 100%; top: 0; left: 50%; transform: translate(-50%, 0); background: #fff; height: 100vh; overflow-y: auto; border-radius: 0; padding: 0 2rem; box-shadow: none;}
	.login_top{flex-direction: column;}
    .logo{width: 17.5rem; padding-top: 3rem;}
    .login_lan{margin-top: 1.4rem;}
    .login_lan li:nth-child(2) a{margin-left: 1.4rem;}
    .login_lan li a{font-size: 1.4rem;}
    .login_con h3{font-size: 2.6rem; margin: 0 0 1.5rem;}
    .login_con h3::after{width: 6.5rem; background-size: 6.5rem;}

	.login_con2 h3{font-size: 2.6rem; margin: 4.4rem 0 1.5rem;}

    .id_pw_wrap{flex-direction: column;}
    .input_box{width: 100%;}
    .login_bt{width: 100%; padding: 1.4rem 0; margin-top: 1rem; font-size: 1.6rem; border-radius: 0;}
    .input_box input{padding: 0.9rem 1.6rem; font-size: 1.4rem; border-radius: 0;}
    .input_box input:nth-child(2){margin-top: 1rem;}
    
    .keepid_box{font-size: 1.4rem; margin-top: 1.1rem;}
    .set_id{margin: 1rem 0 1rem;}
    .set_id li a{font-size: 1.4rem; }
    .set_id li:nth-child(n+2):before{margin: 0 1.6rem; height: 0.7rem;}
    
    .lock_bt{margin: 2.5rem 0 5.5rem;}
    .lock_bt a{font-size: 1.4rem; border-radius: 0;}

    /* .service{position: fixed; bottom: 0; left: 0; right: 0;  border-radius: 0; margin-left: 0; margin-right: 0; padding: 0.7rem 0 1.2rem 0;} */
    .service{bottom: 0; left: 0; right: 0;  border-radius: 0; margin-left: 0; margin-right: 0; padding: 0.7rem 0 1.2rem 0;}
    .service li a{font-size: 1.2rem;}
    .service li:nth-child(1):after{height: .7rem; margin: 0 2rem;}
    
    /*모달창 하단 공지사항*/
    .notice{margin-top: 1.5rem; padding: 1.2rem 1rem 1.2rem 1rem;  font-size: 1.4rem; background-image:none;}
}

